<<<<<<< HEAD
.controlButton{
    background-color: #334756;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    border-radius: 5px
=======
.controlButton {
  background-color: #0060ff;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 15px;
  border-radius: 5px;
>>>>>>> 7508cb3caf362b7fa0914078df09a42f7d11b9ec
}

.controlWrapper {
  margin-top: 80px;
}

.player-wrapper {
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }

  .react-player {
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
  }
=======
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
>>>>>>> 7508cb3caf362b7fa0914078df09a42f7d11b9ec
